@import "../colors";

.quiSuisJe {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;  // Inverse l'ordre des éléments (photo à droite)
    align-items: center;         // Centre verticalement les éléments
    justify-content: space-evenly; // Aligne les éléments au début
    padding: 5em;
    background-color: $text-color;
    color: $background-color;
    font-family: 'Arial', sans-serif;

    +.section-end{
        margin-top: 2em ;
        background-color: $background-color;
    }

    // Photo Container
    .photo-container {
        width: 15em;
        height: 15em;    
        margin-left: 20px;  // Espacement à gauche pour la photo (inversé avec row-reverse)
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border: solid 4px $background-color;

        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    // Texte Container
    .texte-container {
        text-align: left;  // Aligne le texte à gauche
        max-width: 800px;
        margin-right: 20px;  // Espacement à droite pour écarter le texte du bord

        h2 {
            font-size: 2rem;
            color: $btn-background;
            margin-bottom: 10px;
        }

        > p {
            font-size: 1.1rem;
            line-height: 1.6;
            color: $background-color;
            margin: 0;
            text-align: justify;
        }
    }

    // Responsivité
    @media (max-width: 768px) {
        .photo-container {
            width: 120px;
            height: 120px;
        }

        .texte-container {
            max-width: 90%;
        }
    }

    @media (max-width: 480px) {
        .photo-container {
            width: 100px;
            height: 100px;
        }

        .texte-container {
            max-width: 95%;
        }

        h2 {
            font-size: 1.6rem;
        }

        p {
            font-size: 1rem;
        }
    }
}
