// Body.scss
@import '../colors';
@import '../font';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: lato;
    margin: 0;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#about {
    margin: 0;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.section-end{
    position: relative;
    width: 100vw;
    height: 8rem;
    transform: rotate(-2deg) scale(1.2, 2);
    margin: -4rem 0;
}

