// _colors.scss
$primary-color: #00d1ff;
$background-color: #121212;
$footer-color: #131313;
$text-color: #fff;
$hover-color: #ff58a6;
$highlight-color: #ffcc00;
$btn-background:#0088ff;

//couleur pour le bonjour page home
$pinkForHello: #ff7ab3;
$blueForHello: #8eb9e6;
$pink2ForHello: #f0a7c1;
$bleu2ForHello: #a1c7e6;

//Couleur pour les status
$colorTermine: #00B193;
$colorEnCours: #FF7700;
$colorMaintenance: #2C3E50;
$colorAmeliore: #FF7F50;
$colorAbandonne: #C0392B;
$colorEnPause: #7E57C2;



