@import 'font';

// _colors.scss
$primary-color: #00d1ff;
$background-color: #141414;
$footer-color: #131313;
$text-color: #fff;
$hover-color: #ff58a6;
$highlight-color: #ffcc00;
$btn-background:#0088ff;
$text-grisee: #aaa;

//couleur pour le bonjour page home
$pinkForHello: #ff7ab3;
$blueForHello: #8eb9e6;
$pink2ForHello: #f0a7c1;
$bleu2ForHello: #a1c7e6;

//Couleur pour les status
$colorTermine: #00B193;
$colorEnCours: #FF7700;
$colorMaintenance: #2C3E50;
$colorAmeliore: #FF7F50;
$colorAbandonne: #C0392B;
$colorEnPause: #7E57C2;

//Couleur pour le degrader des bouton
$magenta : #920088;
$dark-blue: #003f75;
$other-magenta: #8f00b3;

//Police
$font-primary: lato;
$font-title: belanosima;
$font-name: "Zen Dots";

//variables de la loading page
$loading-circle-size: 120px;
$logo-size: 80px;
$circle-color: #007bff;



