// About.scss
@import 'colors';
@import 'font';

/* CSS pour l'image du logo */
#maPhoto {
    border: $background-color 5px solid;
    border-radius: 50%;
    width: 20em;
    height: 20em;
}

.about-me {
    margin:0;
    width: 100%;
    height: 52em;
    background-image: url("../asset/img/kylianPhare.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-overlay {
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;

    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

sup {
    font-size: 0.7em;
}

strong {
    color: #00defc;
}

.info {
    margin-bottom: 3em;

    h1 {
        font-weight: 600;
        font-family: belanosima;
        font-size: 4em;
        margin: 0;
    }
}


.recherche{
    h2 {
        font-weight: 500;
        font-family: belanosima;
        font-size: 2em;
        margin: 0;
    }

    ul {
        text-align: justify;
        width: 70%;

        li {
            margin-bottom: 1em;
        }
    }
}






